body {
  font-family: "微軟正黑體";
}
p {
  font-size: 18px;
}
p.ken-success {
  color: green;
}
p.ken-warning {
  color: orange;
}
p.ken-danger {
  font-size: 24px;
  color: red;
}
/*# sourceMappingURL=style.css.map */