//主要字體大小
@mainSize:18px;

body{
  font-family: "微軟正黑體";
}

p{
  font-size: @mainSize;
  &.ken-success{
    color: green;
  }
  &.ken-warning{
    color: orange;
  }
  &.ken-danger{
    font-size: @mainSize + 6px;
    color: red;
  }
}